@use '@styles/index.scss' as *;

.navLink {
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--colorText-base);

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15em;

  cursor: pointer;

  &:before {
    content: '';
    height: 2px;

    position: absolute;
    bottom: 0px;
    border-radius: 5px;
    left: 49%;
    width: 0;
    transform: translate(-50%, 0);
    background-color: #FF66C4;
    transition: width 0.150s ease-in-out;
  }

  &:focus,
  &:hover {
    color: var(--header-colorText-hover);
    @include respond-to('medium') {
      &:before {
        width: 100%;
        background: var(--header-navLink-line-BgColor);
      }
    }
  }
}

.navListItem {
  padding: var(--header-navLink-Padding-Large);
}

.isActive {
  .navLink {
    color: var(--header-colorText-active);
  }
}
