@use '@styles/index.scss' as *;

.check-box {
	margin-bottom: 10px;
	cursor: pointer;
  &:last-child {
    margin-bottom: 0;
  }
  label {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: white;
  }
}

.collapsedBlock {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
	cursor: pointer;
  .reedeem {
    display: flex;
    align-items: center;
  }
  .content {
    margin-left: 35px;
    opacity: 1;
    height: auto;
    label {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
    }
    &.hidden {
      opacity: 0;
      height: 0;
      overflow: hidden;
    }
    > * {
      margin-top: 10px;
    }
  }
  .square {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: var(--utitlityFilter-square-Border);
    border-color: #FF66C4;
    margin-right: 10px;
    position: relative;
    &::before,
    &::after {
      content: '';
      border-radius: 3px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: block;
    }
    &::before {
      width: var(--utitlityFilter-square-check-height);
      height: var(--utitlityFilter-square-check-Width);
      background: #4F83C9;
    }
    &::after {
      height: var(--utitlityFilter-square-check-height);
      width: var(--utitlityFilter-square-check-Width);
      background: #FF66C4;
      opacity: 1;
    }
    &.collapsed {
      &::after {
        opacity: 0;
        border-color: var(--utitlityFilter-square-Border);
      }
    }
  }
	.squareText {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
		color: white;
	}
	.sub-options {
		margin-top: 10px;
		margin-left: 35px;
	}
}

.see-more-wrapper {
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: var(--see-more-ColorText);
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}
