@font-face {
  font-family: 'Wild World';
  src: url('/fonts/wild-world-latin-700.woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/oswald-v48-latin-500.woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/oswald-v48-latin-300.woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/oswald-v48-latin-700.woff2');
  font-weight: 700;
  font-style: normal;
}
