@use '@styles/index.scss' as *;

.footer-terms {
  display: flex;
  flex-direction: column;
  font-size: var(--footer-terms-FontSize);
  font-weight: var(--footer-terms-FontWeight);
  line-height: var(--footer-terms-LineHeight);
  text-transform: var(--footer-textTransform-LineHeight);
  text-decoration: none;
  align-items: center;
  @include respond-to('small') {
    flex-direction: var(--footer-terms-direction);
  }
  @include respond-to('xmedium') {
    align-self: var(--footer-terms-align-self);
  }
}
.terms-links {
  padding: 5px 0;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  color: var(--footer-terms-links-ColorText);

  display: inline-flex;
  flex-direction: var(--footer-terms-links-direction);

  &:hover {
    text-decoration: underline;
  }
  &:not(:first-of-type) {
    &::before {
      margin: 0 16px;
    }
  }
  @include respond-to('small') {
    padding: 0;
    &:not(:first-of-type) {
      &::before {
        content: '';
        border-left: 1px solid var(--footer-terms-separator-BgColor);
        height: var(--footer-terms-separator-Height);
        margin: var(--footer-terms-separator-Margin);
        pointer-events: none;
        align-self: center;
      }
    }
  }
}
