@use '@styles/index.scss' as *;
.container {
  display: flex;
  justify-content: center;
  margin: var(--socialIcon-wrap-Margin);
  @include respond-to('medium') {
    margin: var(--socialIcon-wrap-Margin-Large);
  }

  a {
    position: relative;
    display: block;
    margin: var(--socialIcon-item-Margin);
    @include respond-to('medium') {
      margin: var(--socialIcon-item-Margin-Large);
    }
  }
}
