@use '@styles/index.scss' as *;

.footer {
  padding: 9px 26px;
  gap: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 21px;
  .price {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    color: var(--card-price-ColorText);
  }
  .sold-price {
    font-size: 14px;
    line-height: 21px;
    color: var(--card-price-ColorText);
  }
  .buy {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: var(--card-buy-value-ColorText);
    text-decoration: none;

    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    .icon {
      margin-right: 8px;
    }
  }
  .sold-out {
    font-size: 12px;
    line-height: 18px;
    color: var(--card-buy-value-ColorText);
  }
  &.hide-price {
    .price,
    .sold-price {
      visibility: hidden;
    }
  }
}
