@use '@styles/index.scss' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 30px;
  height: auto;

  background: #E3ECF8;

  @include respond-to('medium') {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    height: 70px;
    padding: 0 30px;
  }

  width: 100%;
  backdrop-filter: blur(4px);
  border-radius: 8px;
}

.collection-name {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #0D4B9E;
  margin-left: 10px;
}

.info-block {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: #0D4B9E;
}

.button-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  & > button {
    height: 37px;
    padding: 0;
    width: 145px;
    margin-top: 0;
  }
}

.image {
  margin-left: 20px;
  width: 30px !important;
  height: 30px !important;;
  img {
    width: 30px !important;;
    height: 30px !important;;
  }
}
