@use '@styles/index.scss' as *;

.priceWrapper {
  display: flex;
  align-items: center;
  justify-self: center;
	.input-wrapper {
		input {
			max-width: 90px;
			width: 100%;
			flex: 1 0 90px;
			outline: none;
      color: white;
      background: rgba(255, 255, 255, 0.05);
      border: 1px solid #4F83C9;
      backdrop-filter: blur(4px);
      border-radius: 6px;
			&::placeholder {
				color: #4F83C9;
			}
		}
	}
}
.priceTo {
  min-width: 16px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin: 0 7px;
  color: white;
}
.priceError {
  font-size: var(--error-FontSize);
  font-weight: var(--error-FonTWeight);
  line-height: var(--error-LineHeight);
  color: var(--error-ColorText);
}
