@use '@styles/index.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-grow: 1;

  .content {
    flex: 1;
    @include respond-to('medium') {
      padding: var(--signin-Padding);
    }
  }
}

.signIn-wrapper {
  position: relative;

  z-index: 1;
  @include respond-to('medium') {
    padding: 0;
  }
}
.signIn-content {
  margin: 14px auto 0;

  .button {
    margin-top: 20px;
  }
}

.heading-signIn {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
}

.heading-description {
  width: 380px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.signin-step1 {
  margin: 0 auto;

  .input + .input {
    margin-top: 26px;
  }
}

.signin-bottom {
  margin-top: 64px;
  margin-bottom: 50px;

  display: var(--poweredBy-display);
}
.poweredBy {
  span {
    color: var(--poweredBy-logo-signIn-ColorText);
  }
}

.subHeading {
  max-width: 419px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
