@use '@styles/index.scss' as *;

.wrapper {
  z-index: 1;
  display: grid;
  grid-template-rows: 1fr auto;

  flex: 1;
  width: 100%;
  overflow: hidden;
}
.container {
  position: relative;
  // padding-top: var(--maintenance-PaddingTop);
  // padding-bottom: var(--maintenance-PaddingBottom);
  text-align: center;
  color: var(--modal-text-ColorText);

  display: flex;
  flex-direction: column;
  justify-content: center;
  @include respond-to('medium') {
    // padding-top: var(--maintenance-PaddingTop-Large);
    // padding-bottom: var(--maintenance-PaddingBottom-Large);
  }

  &:only-child{
    // padding-bottom: var(--maintenance-only-PaddingBottom);
    @include respond-to('medium') {
      // padding-bottom: var(--maintenance-only-PaddingBottom-Large);
    }
  }

  .media {
    margin: 0 auto 20px;
    width: 184px;
    height: 130px;

    svg {
      width: 184px;
      height: 130px;
    }

    @include respond-to('medium') {
      width: 284px;
      height: 200px;
      margin-bottom: 40px;

      svg {
        width: 284px;
        height: 200px;
      }
    }
  }
  .content {
    max-width: 600px;
    width: 100%;
    margin: 0 auto 20px;
    @include respond-to('medium') {
      margin-bottom: 40px;
    }
  }
  .heading {
    color: var(--cardSettings-title-ColorText);
  }
}

.footer {
  background-image: var(--maintenance-Bg-Footer);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
.container-footer {
  padding-top: var(--maintenance-footer-PaddingTop);
  padding-bottom: var(--maintenance-footer-PaddingBottom);

  @include respond-to('medium') {
    padding-top: var(--maintenance-footer-PaddingTop-Large);
    padding-bottom: var(--maintenance-footer-PaddingBottom-Large);
  }

  .heading {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
  }
}
.description {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  margin-top: 15px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 35px;

  font-weight: 500;
  font-size: 22.8704px;
  line-height: 23px;
  color: var(--header-login-ColorText);
  display: flex;
  align-items: baseline;
  gap: 8px;

  a {
    font-family: "Wild World";
    color: inherit;
    text-decoration: none;
    text-transform: lowercase;
  }
}
